<table class="table">
  <% book.comments.each do |comment| %>
    <tr>
      <td><%= image_tag comment.user.get_profile_image(100,100) %></td>
      <td><%= link_to comment.user.name, user_path(comment.user_id) %></td>
      <td><%= comment.comment %></td>
      <td>
        <% if my_user?(comment.user) %>
          <%= link_to "削除",book_comment_path(comment.book,comment), method: :delete,remote: true, class: "btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>