<div class="container">
  <div class="row">
    <div class="col-md-8 text-center mx-auto">
      <h1>ようこそBookersへ</h1>
      <p>Bookersでは</p>
      <p>いろんな本について</p>
      <p>意見、感想、感情を共有し、交換することができます</p>

      <%= link_to "新規登録",new_user_registration_path, class: "btn btn-primary form-control" %>
      <%= link_to "ログイン",new_user_session_path, class: "btn btn-success form-control mt-5" %>

    </div>
  </div>
</div>

